<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <div class="imagewrap">
      <img ng-src="{{chat.face}}" style="width: 300px; height: 500px">
      <button id=4 ng-controller="addData" class="north" ng-click="submit($event)"></button>
      <button id=3 ng-controller="addData" class="west" ng-click="submit($event)"></button>
      <button id=2 ng-controller="addData" class="south" ng-click="submit($event)"></button>
      <button id=1 ng-controller="addData" class="east" ng-click="submit($event)"></button>
      <button id=5 ng-controller="addData" class="center" ng-click="submit($event)"></button>
   </div>
    <!--<p>Hello!</p>-->
  </ion-content>
</ion-view>
<!--change this file to ion lists-->
