<ion-view view-title="{{chat.name}}">
  <ion-nav-buttons side="right">
    <button class="button" ng-controller="refresh" ng-click="refreshing($event)" class="button-assertive">Refresh</button>
  </ion-nav-buttons>
  <ion-content class="padding" ng-controller="zoom">
    <div class="imagewrap">
      <ion-scroll id="mapImage"
                  zooming="true"
                  direction="xy"
                  delegate-handle="zoom-pane"
                  class="zoom-pane"
                  min-zoom="1"
                  max-zoom="15"
                  overflow-scroll="false">

      <img ng-if="chat.name == 'Armstrong Floor 1'" ng-src="img/AL1Outline.png" style="height:540px;"/>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=55 ng-controller="addData" class="c55" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=56 ng-controller="addData" class="c56" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=57 ng-controller="addData" class="c57" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=58 ng-controller="addData" class="c58" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=59 ng-controller="addData" class="c59" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=60 ng-controller="addData" class="c60" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=61 ng-controller="addData" class="c61" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=62 ng-controller="addData" class="c62" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=63 ng-controller="addData" class="c63" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=64 ng-controller="addData" class="c64" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=65 ng-controller="addData" class="c65" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=66 ng-controller="addData" class="t4" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=67 ng-controller="addData" class="t5" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=68 ng-controller="addData" class="gs2" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 1'" id=69 ng-controller="addData" class="gs3" ng-click="submit($event)"></button>

      <img ng-if="chat.name == 'Armstrong Floor 2'" ng-src="img/AL2Outline.png" style="width:350px;height:520px;"/>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=36 ng-controller="addData" class="c36" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=37 ng-controller="addData" class="c37" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=38 ng-controller="addData" class="c38" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=39 ng-controller="addData" class="c39" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=40 ng-controller="addData" class="c40" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=41 ng-controller="addData" class="c41" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=42 ng-controller="addData" class="c42" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=43 ng-controller="addData" class="c43" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=44 ng-controller="addData" class="c44" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=45 ng-controller="addData" class="c45" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=46 ng-controller="addData" class="c46" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=47 ng-controller="addData" class="c47" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=48 ng-controller="addData" class="c48" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=49 ng-controller="addData" class="c49" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=50 ng-controller="addData" class="c50" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=51 ng-controller="addData" class="t1" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=52 ng-controller="addData" class="t2" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=53 ng-controller="addData" class="t3" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Armstrong Floor 2'" id=54 ng-controller="addData" class="gs1" ng-click="submit($event)"></button>

      <img ng-if="chat.name == 'Bihall Floor 2'" ng-src="img/F2Outline.png" style="width:300px;height:520px;"/>
        <button ng-if="chat.name == 'Bihall Floor 2'" id=6 ng-controller="addData" class="north2" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 2'" id=7 ng-controller="addData" class="west2" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 2'" id=8 ng-controller="addData" class="south2" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 2'" id=35 ng-controller = "addData" class="east2" ng-click="submit($event"></button>

      <img ng-if="chat.name == 'Bihall Floor 3'" ng-src="img/F3Outline.png" style="width:350px;height:540px">
        <button ng-if="chat.name == 'Bihall Floor 3'" id=9 ng-controller="addData" class="north3" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 3'" id=10 ng-controller="addData" class="west3a" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 3'" id=11 ng-controller="addData" class="west3b" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 3'" id=12 ng-controller="addData" class="center3a" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 3'" id=13 ng-controller="addData" class="center3b" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 3'" id=14 ng-controller="addData" class="south3" ng-click="submit($event)"></button>

      <img ng-if="chat.name == 'Bihall Floor 4'" ng-src="img/F4Outline.png" style="width:300px;height:520px">
        <button ng-if="chat.name == 'Bihall Floor 4'" id=28 ng-controller="addData" class="north4" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 4'" id=29 ng-controller="addData" class="west4a" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 4'" id=30 ng-controller="addData" class="west4b" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 4'" id=31 ng-controller="addData" class="center4a" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 4'" id=32 ng-controller="addData" class="center4b" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 4'" id=33 ng-controller="addData" class="south4" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 4'" id=34 ng-controller="addData" class="east4" ng-click="submit($event)"></button>

        <img ng-if="chat.name == 'Bihall Floor 5'" ng-src="img/F5Outline.png" style="width:355px;height:520px">
        <button ng-if="chat.name == 'Bihall Floor 5'" id=15 ng-controller="addData" class="north5" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 5'" id=16 ng-controller="addData" class="west5a" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 5'" id=17 ng-controller="addData" class="west5b" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 5'" id=18 ng-controller="addData" class="center5a" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 5'" id=19 ng-controller="addData" class="center5b" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 5'" id=20 ng-controller="addData" class="south5" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 5'" id=21 ng-controller="addData" class="east5a" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 5'" id=22 ng-controller="addData" class="east5b" ng-click="submit($event)"></button>

      <img ng-if="chat.name == 'Bihall Floor 6'" ng-src="img/F6Outline.png" style="width:355px;height:515px">
        <button ng-if="chat.name == 'Bihall Floor 6'" id=23 ng-controller="addData" class="west6a" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 6'" id=24 ng-controller="addData" class="west6b" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 6'" id=25 ng-controller="addData" class="west6c" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 6'" id=26 ng-controller="addData" class="east6" ng-click="submit($event)"></button>
        <button ng-if="chat.name == 'Bihall Floor 6'" id=27 ng-controller="addData" class="center6" ng-click="submit($event)"></button>
      </ion-scroll>
    </div>
  </ion-content>
  </body>
  </html>

</ion-view>
