<!doctype html>
<ion-view view-title="Floor Plans">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/0">
        <img ng-src="img/AL1Outline.png">
        <h2 style="color:#3E3D3D;">Armstrong Floor 1</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/1">
        <img ng-src="img/AL2Outline.png">
        <h2 style="color:#3E3D3D;">Armstrong Floor 2</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/2">
        <img ng-src="img/F2Outline.png">
        <h2 style="color:#3E3D3D;">Bihall Floor 2</h2>
        <!--<p>{{chat.lastText}} spaces available!</p>-->
        <i class="icon ion-chevron-right icon-accessory"></i>
        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>-->
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/3">
        <img ng-src="img/F3Outline.png">
        <h2 style="color:#3E3D3D;">Bihall Floor 3</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/4">
        <img ng-src="img/F4Outline.png">
        <h2 style="color:#3E3D3D;">Bihall Floor 4</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/5">
        <img ng-src="img/F5Outline.png">
        <h2 style="color:#3E3D3D;">Bihall Floor 5</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/6">
        <img ng-src="img/F6Outline.png">
        <h2 style="color:#3E3D3D;">Bihall Floor 6</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
