<ion-view view-title="Status">
  <ion-content class="background">
    <br>
    <div ng-controller= "dash">
      <!--<img src="img/middspacesfulllogo.png" alt="Logo" align="middle" style="width:350px;height:200px;"/>-->
      <!--<img src="img/middspaceslogo.png" alt="Logo" text-align="center" style="width:350px;height:130px;"/>-->
      <!--<img src="img/mediumlogo.png" alt="Logo" style="position:relative;left:8%"/>-->
      <img class="homeImage" src="img/Words.png" alt="Logo"/>
    </div>
    <br>
    <div ng-app="services.js">
      <button class="checkOutButton" ng-controller="checkout" ng-click=checkingout($event) id=100 disabled=true>
        <span>Check Out</span></button>
    </div>
    <br>
    <h4 align="center" style="color:#0B0947;">Armstrong Library Hours</h4>
    <h5 align="center" style="color:#3E3D3D;">Sunday 10:00AM-12:00AM</h5>
    <h5 align="center" style="color:#3E3D3D;">Monday 7:45AM-12:00AM</h5>
    <h5 align="center" style="color:#3E3D3D;">Tuesday 7:45AM-12:00AM</h5>
    <h5 align="center" style="color:#3E3D3D;">Wednesday 7:45AM-12:00AM</h5>
    <h5 align="center" style="color:#3E3D3D;">Thursday 7:45AM-12:00AM</h5>
    <h5 align="center" style="color:#3E3D3D;">Friday 7:45AM-6:00PM</h5>
    <h5 align="center" style="color:#3E3D3D;">Saturday 10:00AM-6:00PM</h5>
    <h4 align="center" style="color:#0B0947;">Great Hall Kiosk Hours</h4>
    <h5 align="center" style="color:#3E3D3D;">Weekdays Only</h5>
    <h5 align="center" style="color:#3E3D3D;">8:00AM-2:30PM</h5>
  </ion-content>
</ion-view>
