.imagewrap {display:inline-block;position:relative;}
/*.north {position:absolute;top:0;left:63%;width:9%;height:3%;background-color:#4CAF50}
.west {position:absolute;bottom:31%;left:10%;height:7%;background-color:#4CAF50}
.south {position:absolute;bottom:1%;left:70%;width:9%;height:3%;background-color:#4CAF50}
.east {position:absolute;bottom:38%;left:90%;width:5%;height:6%;background-color:#4CAF50}
.center {position:absolute;bottom:36%;left:52%;width:5%;height:5%;background-color:#4CAF50}*/

.c55 {position:absolute;top:36%;left:86%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c56 {position:absolute;top:34%;left:86%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c57 {position:absolute;top:29%;left:86%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c58 {position:absolute;top:27%;left:86%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c59 {position:absolute;top:22%;left:86%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c60 {position:absolute;top:20%;left:86%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c61 {position:absolute;top:15%;left:86%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c62 {position:absolute;top:13%;left:86%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c63 {position:absolute;top:8%;left:86%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c64 {position:absolute;top:8%;left:78%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c65 {position:absolute;top:6.5%;left:51%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.t4 {position:absolute;top:10%;left:55%;width:4%;height:4%;background-color:#4CAF50;border-radius:4px}
.t5 {position:absolute;top:10%;left:65%;width:4%;height:4%;background-color:#4CAF50;border-radius:4px}
.gs2 {position:absolute;top:70.5%;left:82%;width:10%;height:4%;background-color:#4CAF50;border-radius:4px}
.gs3 {position:absolute;top:77.5%;left:82%;width:10%;height:4%;background-color:#4CAF50;border-radius:4px}

.c36 {position:absolute;top:72%;left:86.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c37 {position:absolute;top:66%;left:86.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c38 {position:absolute;top:64%;left:86.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c39 {position:absolute;top:54%;left:86.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c40 {position:absolute;top:52%;left:86.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c41 {position:absolute;top:44%;left:86.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c42 {position:absolute;top:42%;left:86.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c43 {position:absolute;top:34%;left:86.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c44 {position:absolute;top:32%;left:86.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c45 {position:absolute;top:24%;left:86.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c46 {position:absolute;top:22%;left:86.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c47 {position:absolute;top:14%;left:86.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c48 {position:absolute;top:12%;left:86.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.c49 {position:absolute;top:5%;left:86.5%;width:2%;height:3%;background-color:#4CAF50;border-radius:4px}
.c50 {position:absolute;top:3%;left:63%;width:2%;height:3%;background-color:#4CAF50;border-radius:4px}
.t1 {position:absolute;top:20%;left:58%;width:2%;height:6%;background-color:#4CAF50;border-radius:4px}
.t2 {position:absolute;top:20%;left:70%;width:2%;height:6%;background-color:#4CAF50;border-radius:4px}
.t3 {position:absolute;top:48%;left:65%;width:2%;height:6%;background-color:#4CAF50;border-radius:4px}
.gs1 {position:absolute;top:79%;left:10%;width:10%;height:4%;background-color:#4CAF50;border-radius:4px}

.north2 {position:absolute;top:52.5%;left:63.5%;width:3%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.west2 {position:absolute;top:53.5%;left:54%;width:3%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.south2 {position:absolute;top:55.5%;left:63.5%;width:3%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.east2 {position:absolute;top:56.5%;left:54%;width:3%;height:2.5%;background-color:#4CAF50;border-radius:4px}

.north3 {position:absolute;top:1%;left:60%;width:8%;height:3%;background-color:#4CAF50;border-radius:4px}
.west3a {position:absolute;top:63%;left:0.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.west3b {position:absolute;top:67%;left:0.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.center3a {position:absolute;top:59.5%;left:45%;width:4.5%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.center3b {position:absolute;top:62.5%;left:45%;width:4.5%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.south3 {position:absolute;top:97%;left:69%;width:8%;height:3%;background-color:#4CAF50;border-radius:4px}

.north4 {position:absolute;top:0;left:61%;width:8%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.west4a {position:absolute;top:62.5%;left:0.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.west4b {position:absolute;top:66.5%;left:0.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.center4a {position:absolute;top:59%;left:46%;width:5%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.center4b {position:absolute;top:62.5%;left:46%;width:5%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.south4 {position:absolute;top:97%;left:69.5%;width:8%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.east4 {position:absolute;top:57%;left:90%;width:2%;height:6%;background-color:#4CAF50;border-radius:4px}

.north5 {position:absolute;top:0;left:61%;width:8%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.west5a {position:absolute;top:62.5%;left:0.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.west5b {position:absolute;top:66.5%;left:0.5%;width:6%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.center5a {position:absolute;top:59%;left:46%;width:5%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.center5b {position:absolute;top:62.5%;left:46%;width:5%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.south5 {position:absolute;top:97%;left:69.5%;width:8%;height:2.5%;background-color:#4CAF50;border-radius:4px}
.east5a {position:absolute;top:57%;left:90%;width:2%;height:3%;background-color:#4CAF50;border-radius:4px}
.east5b {position:absolute;top:61%;left:90%;width:2%;height:3%;background-color:#4CAF50;border-radius:4px}

.west6a {position:absolute;top:62%;left:0.5%;width:2%;height:3%;background-color:#4CAF50;border-radius:4px}
.west6b {position:absolute;top:66%;left:1.5%;width:2%;height:3%;background-color:#4CAF50;border-radius:4px}
.west6c {position:absolute;top:69%;left:1.5%;width:2%;height:3%;background-color:#4CAF50;border-radius:4px}
.east6 {position:absolute;top:58.5%;left:91%;width:4%;height:3%;background-color:#4CAF50;border-radius:4px}
.center6 {position:absolute;top:60%;left:47%;width:1%;height:4%;background-color:#4CAF50;border-radius:4px}

.refreshButton {border-radius:8px;background-color:#0B0947;color:white}
.checkOutButton{text-align:center;margin:auto;padding:15px 127px;border-radius:8px;background-color:#0B0947;color:white;font-size: 20px}

.zoom-pane {
  width: 100% !important;
  height: 100% !important;
}

.zoom-pane .scroll {
  min-height: 100% !important;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zoom-pane img {
  width: 100% !important;
  vertical-align: top !important;
}
